<div class="panel_panel-default">
    <div class="panel-heading">Invitation</div>
    <div class="panel-body">
        la compagnie {{ compagnie }} vous invite a rejoindre son equipe : <br>
        cliquez sur le  <a href="http://127.0.0.1:8000/add/{{ Etoken }}">lien</a> afin de vous  inscrire

    </div>
</div>
