<div class="panel panel-default">

    <div class="panel-heading">
        Classement
    </div>
    <div class="panel-body">
        {{ form_start(form) }}
        <p>
        <div class="text-justify">
            {{ form_widget(form) }}
        </div>
        </p>
        <div class="row">
            <div class="col-md-12">
                <h5 class="cover-heading text-justify ">
                    {{ classementDescription }}
                </h5>
                <hr>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
